<nav class="navbar navbar-static-top">
    <div class="nav-header">
        <div class="navbar-header">
            <a class="navbar-brand" target="_self" href="./index.html">
                <span class="project-title vm" id="title">SuperMap iClient3D for WebGL</span>
            </a>
            <div id="suffix-title"></div>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"
                    aria-expanded="false">
                <i class="fa fa-bars"></i>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-custom-menu" id="navbar-collapse">
            <ul class="nav navbar-nav nav-header-example">
                <li class="navbar-menu" id="3dwebgl-index">
                    <a class="center" target="_self"
                       href="./index.html">首页</a>
                </li>
                <li class="navbar-menu" id="3dwebgl-examples">
                    <a class="center" target="_self"
                       href="./examples/examples.html">示范程序</a>
                </li>
                <li class="navbar-menu" id="3dwebgl-documentation">
                    <a class="center" target="_blank"
                       href="./Build/Documentation/index.html">API文档</a>
                </li>
                <li class="navbar-menu" id="3dwebgl-supermapearth">
                    <a class="center" target="_blank"
                       href="http://www.supermapol.com/earth/">SuperMapEarth</a>
                </li>
                <li class="dropdown nav-dropdown-menu download-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span id="top-docs" data-i18n="nav.lang._name">技术专题</span>
                        <i class="fa fa-sort-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="lang-option text-center" href="./examples/TopicDoc/SuperMapEarthFunctionTopic.html">SuperMapEarth功能游览</a></li>
                        <li><a class="lang-option text-center" href="./examples/TopicDoc/FlyManagerTopic.html">飞行管理专题</a></li>
                        <li><a class="lang-option text-center" href="./examples/TopicDoc/LoadObliqueModel_OperateTopic.html">加载倾斜摄影模型</a></li>
                        <li><a class="lang-option text-center" href="./examples/TopicDoc/AttributeQueryofObliqueModel_OperateTopic.html">倾斜摄影模型属性查询</a></li>
                        <li><a class="lang-option text-center" href="./examples/TopicDoc/LoadTerrain_OperateTopic.html">加载地形数据</a></li>
                        <li><a class="lang-option text-center" href="./examples/TopicDoc/LoadGltfModel_OperateTopic.html">加载gltf三维模型</a></li>
                        <li><a class="lang-option text-center" href="./examples/TopicDoc/LoadImagery_OperateTopic.html">加载影像数据</a></li>
                        <li><a class="lang-option text-center" href="./examples/TopicDoc/LoadBIM_OperateTopic.html">加载BIM及精细模型</a></li>
                    </ul>
                </li>

                <li class="navbar-menu" id="3dwebgl-download">
                    <a class="center" target="_self"
                       href="./download.html">产品下载</a>
                </li>
                <!--<li class="dropdown nav-dropdown-menu download-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span id="lang" data-i18n="nav.lang._name"></span>
                        <i class="fa fa-sort-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="lang-option text-center" data-lang="zh-CN">中文</a></li>
                        <li><a class="lang-option text-center" data-lang="en">English</a></li>
                    </ul>
                </li>-->
            </ul>
        </div>
    </div>
</nav>
